body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}
form > button {
    background-color: #fff;
    color: black;
    border: 1px solid #FF3632;
    border-radius: 5px;
}
p > input {
    border-radius: 5px;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #FF3632;
}

#signup-bg {
    background-color: #FF9A98;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 15px;
}

#login-bg {
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 15px;
    border: 0.75rem solid #FF9A98;
}

#signout-bg {
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 15px;
    border: 0.75rem solid #FF9A98;
    margin-top: 8rem;
}

.alert {
    z-index: 99999;
    position: absolute;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background: linear-gradient(to left, #FF9A98, #FF3632);
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.pagination {
    background-color: rgba(255, 154, 152, 0.1);
    margin-bottom: 0;
    padding: 2rem;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #FF9A98;
    color: #fff;
    margin-top: 1rem;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #FF9A98;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #FF3632;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.light-red {
    background-color: #FF9A98;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.center-profile {
    display: grid;
    place-items: center;
}
.masthead-text {
    background-color: #ff8686;
}

.profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    filter: drop-shadow(0 0 5px #FF3632);
}

.edit-profile-btn {
    background-color: #FF9A98;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

button>a {
    text-decoration: none;
    color: white;
}

button>a:hover {
    text-decoration: none;
    color: white;
}

h5 {
    margin: 1rem;
}

.bio-bg {
    background-color: rgba(255, 154, 152, 0.6);
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 40vw;
    max-width: 60vw;
    text-align: center;
    min-height: 15vh;
    border-radius: 30px;
}

.bio-bg>p {
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    max-width: fit-content;
}

.profile-username {
    margin: 1rem;
    text-decoration: underline;
}

.add-post-head {
    text-align: center;
    padding-top: 2rem;
}

.btn-submit {
    background-color: #FF3632;
    border: none;
    border-radius: 10%;
    margin-top: 0.5rem;
    margin-left: 2rem;
    
}

.white-text {
    color: white;
}

.profile-bg{
    background-color: #FF3632;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 30px;
    min-width: 80vw;
    max-width: 85vw;
    max-height: 70vh;
}

.comment-btns {
    background-color: #FF9A98;
    border: 1px solid black;
    border-radius: 5px;
    padding: .25rem;
}

.comment-bg {
    background: linear-gradient(to right, #FF9A98, whitesmoke);
    margin-bottom: 1rem;
    border-radius: 5px;
}
.comment-text-bg {
    background: linear-gradient(to right, #FF9A98, whitesmoke);
    border-radius: 5px;
    min-height: 2rem;
    padding: 0.5rem;
}
.post-edit-delete {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.post-edit-delete>a>i {
    padding: 0.5rem;
}

.add-post-bg {
    background-color: rgba(255, 154, 152, 0.5);
    padding-bottom: 2rem;
}
.profile-link {
    text-decoration: none;
    color: white;
}

.profile-link:hover {
    text-decoration: underline;
    color: lightblue;
}

hr {
    color: white;
    min-height: 0.3rem;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-text {
    color: white;
}

.footer-color {
    background: #FF3632;
}

#div_id_title {
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
  }

#div_id_content {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#div_id_excerpt {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#div_id_featured_image {
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
}
.main-bg > .container {
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
}

#updt-post-bg {
    background-color: #FF9A98;
    padding-top: 1rem;
}

.btn-updt-post{
    margin-top: 1rem;
    margin-left: 2rem;
}


.edit-profile-bg {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    margin-top: 3rem;
    background-color: #FF9A98;
    padding: 1rem;
    border-radius: 15px;
    
}

.edit-profile-bg textarea {
    max-width: 70vw;
}

.edit-comment-bg {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    margin-top: 3rem;
    background-color: #FF9A98;
    border-radius: 15px;
    padding: 1rem 0rem;
}

.edit-comment-bg > h1 {
    text-align: center;
}

.delete-view{
    background-color: whitesmoke;
    border: 6px solid #FF9A98;
    border-radius: 15px;
    margin-top: 5rem;
    max-width: 70vw;
}

.delete-view > h1 {
    text-align: center;
}

.delete-btns {
    margin-bottom: 1rem;
}

.info-text {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 15px;
}

.img-btn {
    margin-top: 2rem;
}


.img-width {
    width: 100%;
}

.post-form-style {
    margin-top: 2rem;
}

@media screen and (min-width: 390px) {
    #post-feed {
        min-height: 90vh;
    }

    .enlarge {
        min-width: 50vw;
        min-height: 20vh;
    }
    .add-post-bg {
        min-width: 100vw;
        min-height: 87vh;
    }
    
    .btn-submit {
        margin-left: 0;
    }

    .main-bg {
        margin-top: auto;
        margin-bottom: auto;
    }

    #signout-bg {
        max-width: 60vw;
        margin-top: 12rem;
    }

    #updt-post-bg {
        max-width: 80vw;
        margin-top: 2rem;
        border-radius: 15px;
        margin-bottom: 2rem;
    }
    .btn-updt-post {
        margin-left: 0;
    }
    
    .edit-profile-bg {
        min-width: 40vw;
    }

    .edit-comment-bg {
        max-width: 70vw;
        margin-top: 8rem;
        
    }

    .delete-view{
        background-color: whitesmoke;
        border: 6px solid #FF9A98;
        border-radius: 15px;
        margin-top: 5rem;
        max-width: 70vw;
    }
    
    .delete-view > h1 {
        text-align: center;
    }
    
    .delete-btns {
        margin-bottom: 1rem;
    }

    .info-text {
        max-width: 40vw;
    }

}

@media screen and (max-width: 992px){
    .navbar-text {
        display: none;
    }

    .btn-submit {
        margin-left: 4.5rem;
    }
}

@media screen and (min-width: 768px){
    .enlarge {
        min-width: 10vw;
        min-height: 20vh;
    }
    .bio-bg {
        min-width: 20vw;
        max-width: 40vw;
        text-align: center;
        min-height: 15vh;
        border-radius: 15px;
    }
    
    .bio-bg>p {
        font-weight: 500;
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        max-width: fit-content;
    }
    .profile-bg{
        background-color: #FF3632;
        margin-top: 2rem;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem;
        border-radius: 30px;
    }

    .edit-profile-btn {
        background-color: #FF9A98;
        border: none;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        
    
    }
    
    .edit-profile-btn:hover {
        border: 2px solid white;
    }

    .comment-btns {
        border: none;
    }

    .comment-btns:hover {
        border: 1px solid white;
    }
    #login-bg {
        max-width: 50vw;
        margin-top: 5rem;
    }

    #signout-bg {
        max-width: 30vw;
    }
    
    #updt-post-bg {
        max-width: 70vw;
    }

    .edit-profile-bg {
        min-width: 40vw;
        max-width: 50vw;
    }

    .edit-comment-bg {
        max-width: 60vw;
        margin-top: 5rem;
        
    }

    .delete-view{
        max-width: 50vw;
    }


}
@media screen and (min-width: 960px) {
    #place-edit-profile {
        max-width: 40vw;
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .info-text {
        max-width: 35vw;
    }


}