{% extends 'base.html' %} {% block content %}
<div class="center-profile profile-bg">
  <h1 class="profile-username white-text">@{{ user.username }}</h1>
  {% if profile.profile_picture %}
  <img
    src="{{ profile.profile_picture.url }}"
    alt="{{ user.username }}'s profile picture"
    class="profile-pic"
  />
  {% endif %}
  <h5 class="white-text">Biography:</h5>
  <div class="bio-bg">
    <p class="white-text">{{ profile.bio }}</p>
  </div>

  {% if user.is_authenticated and user.username == user %}
  
    <a href="{% url 'update_profile' username=user.username %}" class="edit-profile-btn" style="text-decoration: none;color: white;">Edit Profile</a>
  
  {% endif %}
</div>
{% endblock %}
