{% extends 'base.html' %}
{% block content %}
    <div class="center-div">
        <h1>{{ user.username }}</h1>
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="{{ user.username }}'s profile picture" class="profile-pic">
        {% endif %}
        <p>{{ profile.bio }}</p>
        {% if user.is_authenticated %}
            <button type="button"><a href="{% url 'update_profile' username=user.username %}">Edit Profile</a></button>
        {% endif %}
    </div>
{% endblock %}